// Sass Variables
$color-primary: #65b530;
$color-secondary: #222222;
$color-accent: #fee023;
$color-body: #9b9b9b;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;

$font-primary: 'Sora',
sans-serif;
$font-secondary: 'Roboto',
sans-serif;
$body-font-size: 14px;